.p-Home.Div85 {
;
}
.p-Home.Flex75 {
display: flex;
margin-left: 125px;
margin-right: 125px;
justify-content: space-between;
padding-top: 40px;
}
.p-Home.Div84 {
;
}
.p-Home.Flex76 {
display: flex;
}
.p-Home.Flex77 {
display: flex;
}
.p-Home.Div87 {
;
}
.p-Home.Flex80 {
display: flex;
margin-left: 125px;
margin-right: 125px;
justify-content: space-between;
padding-top: 70px;
padding-bottom: 20px;
}
.p-Home.Div88 {
padding-top: 100px;
padding-bottom: 100px;
}
.p-Home.Div90 {
margin-bottom: 20px;
padding-top: ;
}
.p-Home.Flex84 {
display: flex;
margin-left: ;
margin-right: ;
justify-content: flex-start;
padding-top: ;
align-items: stretch;
}
.p-Home.Flex85 {
display: flex;
}
.p-Home.Flex86 {
display: flex;
}
.p-Home.Div91 {
margin-bottom: 15px;
}
.p-Home.Div89 {
;
}
.p-Home.Div96 {
margin-left: 300px;
margin-right: 300px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex90 {
display: flex;
margin-left: 50px;
margin-right: 50px;
justify-content: space-between;
padding-top: ;
padding-bottom: ;
margin-top: ;
}
.p-Home.Div97 {
padding-top: 80px;
margin-bottom: 100px;
margin-left: 180px;
margin-right: 180px;
}
.p-Home.Div98 {
text-align: center;
align-self: auto;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 80px;
}
.p-Home.Flex91 {
display: flex;
justify-content: flex-start;
column-gap: 80px;
}
.p-Home.Div99 {
;
}
.p-Home.Div100 {
;
}
.p-Home.Div101 {
;
}
.p-Home.Flex92 {
display: flex;
align-items: center;
column-gap: 410px;
margin-left: 125px;
margin-right: 125px;
padding-top: 80px;
background-color: #ffffff;
}
.p-Home.Div102 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: ;
}
.p-Home.Flex93 {
display: flex;
align-items: center;
column-gap: 20px;
margin-left: 125px;
margin-right: ;
padding-top: 80px;
overflow: hidden;
position: static;
z-index: 99999;
}
.p-Home.Div103 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: ;
}
.p-Home.Div104 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
background-color: #ffffff;
}
.p-Home.Flex94 {
display: flex;
}
.p-Home.Div106 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: ;
}
.p-Home.Div105 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
background-color: #ffffff;
}
.p-Home.Flex96 {
display: flex;
}
.p-Home.Div108 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: ;
}
.p-Home.Div107 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: ;
margin-bottom: ;
margin-top: ;
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
background-color: #fffbfb;
}
.p-Home.Flex97 {
display: flex;
}
.p-Home.Div109 {
position: static;
background-color: #000000;
margin-top: -243px;
z-index: 0;
padding-top: 300px;
padding-bottom: 150px;
margin-bottom: 80px;
}
.p-Home.Flex104 {
display: flex;
margin-left: 125px;
margin-right: 125px;
column-gap: 90px;
padding-top: ;
margin-bottom: ;
}
.p-Home.Div111 {
text-align: center;
align-self: auto;
margin-left: ;
margin-right: 32px;
margin-bottom: ;
margin-top: ;
padding-top: 32px;
padding-right: ;
padding-bottom: 32px;
padding-left: 32px;
background-color: #030303;
width: 450px;
}
.p-Home.Flex103 {
display: flex;
}
.p-Home.Div123 {
;
}
.p-Home.Div113 {
margin-top: 50px;
outline-width: 1px;
outline-style: solid;
color: transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868b3;
padding-bottom: 15px;
}
.p-Home.Flex106 {
display: flex;
}
.p-Home.Flex109 {
display: flex;
}
.p-Home.Div124 {
margin-top: 50px;
outline-width: 1px;
outline-style: solid;
color: transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868b3;
padding-bottom: 15px;
}
.p-Home.Flex112 {
display: flex;
}
.p-Home.Flex113 {
display: flex;
}
.p-Home.Div125 {
margin-top: 50px;
outline-width: 1px;
outline-style: solid;
color: transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868b3;
padding-bottom: 15px;
}
.p-Home.Flex114 {
display: flex;
}
.p-Home.Flex115 {
display: flex;
}
.p-Home.Div126 {
margin-top: 50px;
outline-width: 1px;
outline-style: solid;
color: transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868b3;
padding-bottom: 15px;
}
.p-Home.Flex116 {
display: flex;
}
.p-Home.Flex117 {
display: flex;
}
.p-Home.Div127 {
margin-top: 50px;
outline-width: 1px;
outline-style: solid;
color: transparent;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #686868b3;
padding-bottom: 15px;
}
.p-Home.Flex118 {
display: flex;
}
.p-Home.Flex119 {
display: flex;
}
.p-Home.Flex98 {
display: flex;
column-gap: 10px;
justify-content: flex-end;
margin-right: 125px;
margin-left: 125px;
margin-top: 30px;
}
.p-Home.Div128 {
margin-left: 125px;
margin-right: 125px;
}
.p-Home.Flex120 {
display: flex;
padding-top: 80px;
padding-bottom: 80px;
margin-left: ;
padding-right: ;
align-items: center;
justify-content: space-between;
}
.p-Home.Div129 {
text-align: left;
word-wrap: normal;
width: 50%;
max-width: 50%;
}
.p-Home.Div130 {
max-width: 50%;
}
.p-Home.Div133 {
margin-left: 125px;
margin-right: 125px;
}
.p-Home.Flex121 {
display: flex;
padding-top: ;
padding-bottom: 80px;
margin-left: ;
padding-right: ;
align-items: center;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex122 {
display: flex;
padding-top: ;
padding-bottom: ;
margin-left: ;
padding-right: ;
align-items: center;
justify-content: space-between;
flex-direction: column;
height: 625px;
column-gap: ;
}
.p-Home.Div134 {
margin-left: 125px;
margin-right: 125px;
padding-top: 80px;
margin-bottom: ;
padding-bottom: 80px;
}
.p-Home.Flex123 {
display: flex;
justify-content: space-between;
float: none;
column-gap: 50px;
flex-wrap: nowrap;
align-items: stretch;
max-width: 100%;
}
.p-Home.Div135 {
max-width: 100%;
position: relative;
width: 100%;
}
.p-Home.Flex125 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
align-content: stretch;
width: 100%;
box-sizing: content-box;
word-wrap: normal;
text-align: left;
line-height: ;
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
float: none;
clear: none;
max-width: 100%;
position: relative;
flex-wrap: nowrap;
align-self: auto;
overflow: visible;
background-attachment: scroll;
}
.p-Home.Flex126 {
display: flex;
flex-direction: column;
}
.p-Home.Flex127 {
display: flex;
width: ;
}
.p-Home.Div138 {
;
}
.p-Home.Div139 {
;
}
.p-Home.Flex133 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
align-content: stretch;
width: 100%;
box-sizing: content-box;
word-wrap: normal;
text-align: left;
line-height: ;
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
float: none;
clear: none;
max-width: 100%;
position: relative;
flex-wrap: nowrap;
align-self: auto;
overflow: visible;
background-attachment: scroll;
}
.p-Home.Flex131 {
display: flex;
width: ;
}
.p-Home.Div143 {
;
}
.p-Home.Div144 {
;
}
.p-Home.Flex132 {
display: flex;
flex-direction: column;
}
.p-Home.Flex136 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
align-content: stretch;
width: 100%;
box-sizing: content-box;
word-wrap: normal;
text-align: left;
line-height: ;
background-origin: padding-box;
background-clip: border-box;
-webkit-background-clip: border-box;
float: none;
clear: none;
max-width: 100%;
position: relative;
flex-wrap: nowrap;
align-self: auto;
overflow: visible;
background-attachment: scroll;
}
.p-Home.Flex134 {
display: flex;
width: ;
}
.p-Home.Div145 {
;
}
.p-Home.Div146 {
;
}
.p-Home.Flex135 {
display: flex;
flex-direction: column;
}
.p-Home.Div142 {
max-width: 100%;
position: relative;
width: 100%;
}
.p-Home.Flex130 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
max-height: ;
}
.p-Home.Flex128 {
display: flex;
max-width: ;
width: px;
}
.p-Home.Div140 {
width: 100%;
}
.p-Home.Div141 {
;
}
.p-Home.Flex146 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 20px;
padding-bottom: ;
margin-top: ;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
border-color: transparent;
}
.p-Home.Flex129 {
display: flex;
flex-direction: column;
}
.p-Home.Flex150 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
max-height: ;
}
.p-Home.Flex148 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 20px;
padding-bottom: ;
margin-top: ;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
border-color: transparent;
}
.p-Home.Flex147 {
display: flex;
flex-direction: column;
}
.p-Home.Flex149 {
display: flex;
max-width: ;
width: px;
}
.p-Home.Div158 {
;
}
.p-Home.Div159 {
width: 100%;
}
.p-Home.Flex154 {
display: flex;
align-items: flex-end;
justify-content: space-between;
column-gap: ;
padding-bottom: 40px;
margin-top: 60px;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
max-height: ;
}
.p-Home.Flex152 {
display: flex;
align-items: center;
justify-content: flex-start;
column-gap: 20px;
padding-bottom: ;
margin-top: ;
border-bottom-width: 1px;
border-bottom-color: #00000066;
border-bottom-style: solid;
row-gap: ;
width: 100%;
max-width: 100%;
position: relative;
border-color: transparent;
}
.p-Home.Flex151 {
display: flex;
flex-direction: column;
}
.p-Home.Flex153 {
display: flex;
max-width: ;
width: px;
}
.p-Home.Div160 {
;
}
.p-Home.Div161 {
width: 100%;
}
.p-Home.Div162 {
margin-left: 125px;
margin-right: 125px;
padding-bottom: ;
margin-top: 80px;
}
.p-Home.Flex155 {
display: flex;
justify-content: space-between;
width: 100%;
column-gap: 70px;
align-items: flex-end;
height: 450px;
padding-top: 80px;
margin-left: ;
margin-right: ;
padding-bottom: 160px;
}
.p-Home.Div163 {
width: 100%;
height: 100%;
position: relative;
}
.p-Home.Div167 {
;
}
.p-Home.fghg {
display: flex;
flex-direction: column;
align-self: auto;
justify-content: space-between;
height: 100%;
width: 100%;
position: relative;
column-gap: ;
row-gap: 150px;
align-items: stretch;
}
.p-Home.Div168 {
width: 100%;
height: 100%;
}
.p-Home.Flex156 {
display: flex;
width: ;
justify-content: space-between;
height: ;
position: relative;
}
.p-Home.Div170 {
;
}
.p-Home.btns {
display: flex;
align-items: stretch;
justify-content: flex-start;
flex-direction: row;
width: px;
height: px;
box-sizing: content-box;
overflow: visible;
background-attachment: scroll;
background-origin: border-box;
position: static;
}
.p-Home.Div166 {
;
}
.p-Home.Div183 {
background-color: #000f;
margin-left: ;
padding-left: 125px;
padding-right: 125px;
}
.p-Home.Flex162 {
display: flex;
justify-content: space-between;
width: 100%;
column-gap: 50px;
margin-left: ;
margin-right: ;
padding-bottom: 80px;
}
.p-Home.Div187 {
width: 100%;
}
.p-Home.Flex164 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex173 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex174 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex175 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Div188 {
width: 100%;
}
.p-Home.Flex166 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex176 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex177 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex178 {
display: flex;
justify-content: space-between;
width: 100%;
padding-bottom: 50px;
margin-top: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff66;
}
.p-Home.Flex163 {
display: flex;
flex-direction: column;
align-items: center;
margin-left: ;
margin-right: ;
margin-bottom: 120px;
padding-top: 80px;
}
.p-Home.Div189 {
padding-top: 160px;
padding-bottom: 20px;
}
.p-Home.Div190 {
;
}
.p-Home.Flex179 {
display: flex;
padding-top: 80px;
width: 100%;
justify-content: space-between;
}
.p-Home.Div191 {
width: 100%;
padding-bottom: 20px;
}
.p-Home.Flex180 {
display: flex;
}
.p-Home.Flex181 {
display: flex;
justify-content: space-between;
width: 65%;
}
.p-Home.Flex182 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex183 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex184 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Image64 {
;
}
.p-Home.Button56 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button57 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button58 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button59 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Button61 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 5px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.Image65 {
width: 13px;
}
.p-Home.TextBox109 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
line-height: 80px;
}
.p-Home.TextBox110 {
color: #ff5e69ff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
line-height: 80px;
}
.p-Home.Button68 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
width: 150px;
height: 60px;
margin-right: 10px;
}
.p-Home.Image69 {
width: 13px;
}
.p-Home.Button69 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: 15px;
padding-bottom: ;
padding-right: 5px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox111 {
color: #666666;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
}
.p-Home.Image70 {
width: 500px;
}
.p-Home.TextBox113 {
color: #000000;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
line-height: 80px;
align-self: auto;
text-align: center;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.Image72 {
width: ;
height: auto;
max-width: 140px;
max-height: 20px;
}
.p-Home.Image73 {
width: ;
max-width: 140px;
max-height: 20px;
}
.p-Home.Image74 {
width: ;
max-width: 140px;
max-height: 20px;
}
.p-Home.Image75 {
width: ;
max-width: 140px;
max-height: 20px;
}
.p-Home.TextBox115 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
text-align: center;
color: #ff5e69ff;
}
.p-Home.TextBox116 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
text-align: center;
margin-top: 15px;
width: ;
align-self: auto;
}
.p-Home.Image76 {
margin-bottom: 30px;
width: 70px;
}
.p-Home.TextBox117 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
margin-bottom: 20px;
}
.p-Home.UnorderedList4 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.TextBox118 {
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666f;
margin-bottom: 20px;
}
.p-Home.TextBox119 {
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666f;
margin-bottom: 20px;
}
.p-Home.UnorderedList5 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
margin-bottom: 20px;
}
.p-Home.Image77 {
margin-bottom: 30px;
width: 70px;
}
.p-Home.TextBox121 {
font-size: 16px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #666f;
margin-bottom: 20px;
}
.p-Home.UnorderedList6 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
}
.p-Home.TextBox122 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
margin-bottom: 20px;
}
.p-Home.Image78 {
margin-bottom: 30px;
width: 70px;
}
.p-Home.Button72 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
width: 200px;
height: 58px;
margin-right: ;
background-origin: padding-box;
position: static;
float: none;
clear: none;
}
.p-Home.TextBox123 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
text-align: left;
margin-top: 15px;
width: ;
align-self: auto;
}
.p-Home.TextBox124 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.Image80 {
;
}
.p-Home.TextBox125 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 14px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.TextBox126 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
text-align: left;
margin-top: 15px;
width: ;
align-self: auto;
margin-bottom: 15px;
}
.p-Home.Button74 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.Image79 {
width: 13px;
}
.p-Home.Image84 {
;
}
.p-Home.TextBox129 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
text-align: left;
margin-top: 15px;
width: ;
align-self: auto;
margin-bottom: 15px;
}
.p-Home.TextBox130 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 14px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.Image83 {
width: 13px;
}
.p-Home.Button76 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.Image86 {
;
}
.p-Home.TextBox131 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
text-align: left;
margin-top: 15px;
width: ;
align-self: auto;
margin-bottom: 15px;
}
.p-Home.TextBox132 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 14px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.Image85 {
width: 13px;
}
.p-Home.Button77 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox133 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
text-align: left;
margin-top: 15px;
width: auto;
align-self: auto;
margin-bottom: 15px;
color: #ffffff;
}
.p-Home.TextBox134 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.Image98 {
width: 13px;
}
.p-Home.Button79 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox139 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 28px;
color: #ffff;
margin-top: 10px;
margin-bottom: 30px;
margin-right: 250px;
}
.p-Home.Button81 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.Image100 {
width: 13px;
}
.p-Home.TextBox137 {
color: #ffffff99;
margin-right: 5px;
}
.p-Home.TextBox138 {
color: #ffffff99;
}
.p-Home.TextBox150 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 28px;
color: #ffff;
margin-top: 10px;
margin-bottom: 30px;
margin-right: 250px;
}
.p-Home.TextBox148 {
color: #ffffff99;
}
.p-Home.TextBox149 {
color: #ffffff99;
margin-right: 5px;
}
.p-Home.Image104 {
width: 13px;
}
.p-Home.Button85 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox153 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 28px;
color: #ffff;
margin-top: 10px;
margin-bottom: 30px;
margin-right: 250px;
}
.p-Home.TextBox151 {
color: #ffffff99;
}
.p-Home.TextBox152 {
color: #ffffff99;
margin-right: 5px;
}
.p-Home.Image105 {
width: 13px;
}
.p-Home.Button86 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox156 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 28px;
color: #ffff;
margin-top: 10px;
margin-bottom: 30px;
margin-right: 250px;
}
.p-Home.TextBox154 {
color: #ffffff99;
}
.p-Home.TextBox155 {
color: #ffffff99;
margin-right: 5px;
}
.p-Home.Image106 {
width: 13px;
}
.p-Home.Button87 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.TextBox159 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 28px;
color: #ffff;
margin-top: 10px;
margin-bottom: 30px;
margin-right: 250px;
}
.p-Home.Button88 {
color: #ffffff;
background-color: #000000;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: 5px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
box-sizing: content-box;
background-clip: border-box;
-webkit-background-clip: border-box;
word-wrap: normal;
}
.p-Home.Image107 {
width: 13px;
}
.p-Home.TextBox157 {
color: #ffffff99;
margin-right: 5px;
}
.p-Home.TextBox158 {
color: #ffffff99;
}
.p-Home.Image88 {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
background-color: #fdfdfd;
}
.p-Home.Image89 {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
background-color: #fdfdfd;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
text-align: left;
color: #ff5e69ff;
}
.p-Home.TextBox161 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
text-align: left;
margin-top: 15px;
width: px;
align-self: auto;
margin-bottom: 15px;
color: #000000;
position: static;
}
.p-Home.TextBox162 {
color: #666666;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
}
.p-Home.Image108 {
height: 625px;
}
.p-Home.Image109 {
height: 625px;
}
.p-Home.Image112 {
width: 100%;
height: px;
}
.p-Home.Image113 {
height: px;
width: 100%;
}
.p-Home.TextBox167 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 36px;
}
.p-Home.TextBox168 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.TextBox169 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.Image116 {
position: static;
margin-top: -32px;
margin-right: ;
}
.p-Home.TextBox170 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.TextBox175 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.Image118 {
position: static;
margin-top: -32px;
}
.p-Home.TextBox176 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.TextBox177 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.TextBox178 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.Image119 {
position: static;
margin-top: -32px;
}
.p-Home.TextBox179 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.TextBox180 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.TextBox174 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 36px;
}
.p-Home.TextBox171 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.Image117 {
position: static;
margin-top: -32px;
}
.p-Home.Image120 {
width: 50px;
height: 50px;
}
.p-Home.TextBox172 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.TextBox173 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.Image128 {
width: 50px;
height: 50px;
}
.p-Home.TextBox192 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.TextBox193 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.Image127 {
position: static;
margin-top: -32px;
}
.p-Home.TextBox194 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.Image130 {
width: 50px;
height: 50px;
}
.p-Home.TextBox195 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
}
.p-Home.TextBox196 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #00000099;
line-height: 130%;
}
.p-Home.Image129 {
position: static;
margin-top: -32px;
}
.p-Home.TextBox197 {
align-self: center;
color: #00000099;
line-height: 130%;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
text-align: right;
}
.p-Home.Image131 {
width: 485px;
height: 450px;
}
.p-Home.Image132 {
margin-bottom: 30px;
}
.p-Home.TextBox202 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
margin-bottom: ;
}
.p-Home.TextBox203 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
}
.p-Home.TextBox204 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 20px;
}
.p-Home.Image141 {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
background-color: #000f;
}
.p-Home.Image142 {
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
padding-left: 20px;
background-color: #000f;
}
.p-Home.TextBox200 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
color: #ff5e69;
}
.p-Home.TextBox201 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 20px;
}
.p-Home.Image143 {
;
}
.p-Home.TextBox209 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox218 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image152 {
;
}
.p-Home.TextBox219 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image153 {
;
}
.p-Home.TextBox220 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image154 {
;
}
.p-Home.TextBox211 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image145 {
;
}
.p-Home.Image155 {
;
}
.p-Home.TextBox221 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image156 {
;
}
.p-Home.TextBox222 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image157 {
;
}
.p-Home.TextBox223 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox207 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 22px;
color: #ff5e69ff;
}
.p-Home.TextBox208 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 20px;
color: #ffff;
}
.p-Home.TextBox245 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
color: #8a95adff;
line-height: 28px;
margin-left: ;
margin-top: 100px;
}
.p-Home.TextBox224 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 20px;
color: #ffff;
}
.p-Home.TextBox225 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 20px;
color: #ff5e69ff;
}
.p-Home.TextBox229 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 16px;
color: #666f;
line-height: 28px;
margin-bottom: 10px;
}
.p-Home.Image158 {
margin-bottom: 10px;
}
.p-Home.Image159 {
;
}
.p-Home.TextBox230 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 17px;
color: #666f;
line-height: 28px;
margin-left: 10px;
}
.p-Home.TextBox233 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox234 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox235 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox239 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox240 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox241 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox242 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox243 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
.p-Home.TextBox244 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
color: #ffffff;
}
